<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKbkQeYNU4IolDYi-CCK2PFkVhdbmI1Zc</string>
	<key>GCM_SENDER_ID</key>
	<string>73891203063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lukman.GroznyBus</string>
	<key>PROJECT_ID</key>
	<string>groznybus</string>
	<key>STORAGE_BUCKET</key>
	<string>groznybus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73891203063:ios:fb4d6d13d61625465710f2</string>
</dict>
</plist>